@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;500&family=Poppins:ital,wght@0,100;0,300;1,300&display=swap');


body{
    padding: 0;
    margin: 0;
    overflow-x: hidden;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    
}
a{
    text-decoration:none;
}


/* NAVBAR & LINKS  */

.navhd {
    position: fixed;
    z-index: 2;
    background-color: white; 
    border-bottom: 0.5px solid rgb(242, 235, 235);
    top: 0;
    left: 0;
    width: 100vw;
}
.nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem;
    width: 90%;
   
}
.image img {
    width: 8rem;

} 

.a-links{
    display: none;
}




/* CIRCLES  */

.circle{
    width: 70px;
    height: 70px;
    border-radius: 50%;
    background-color: white;
    position: absolute;
    top: 20%;
    border: 4px solid #e6f2f1;
    left: 5%;
    z-index: 1;
}
 div>i{
   position: absolute;
   top:25%;
   left: 11%;
   z-index: 1;
   margin: auto;
   color: #0aa195;
}
.bars{
    /* margin-right: 3.2rem; */
    font-size: 0.8rem;
    color: #20262d;
}
 


/* HEAD1  */

/* .head1{
    position: relative;
} */
.head1>div>img{
    width: 100%;
    height: 100vh;
    z-index: -2;
    object-fit:fill;
  

}
.header{
    top: 31%;
    position: absolute;
    left: 5%;
    font-family: Nunito;
    font-size: 1.5rem;
}
.texthead>h1{
     text-transform: capitalize;
     font-size: 2rem;
     padding: 0 5rem 0 0;
}
.pee>p{
    color: #0aa195;
    font-size: 1.2rem;
    margin: 0.5rem ;
    position: relative;
}
.head-p{
    font-size: 1rem;
     color: rgb(65, 61, 61);
     font-family: nunito;
}
.spar{
    color: white;
    padding: 1rem 2rem;
    background: #0aa195;
    border-radius: 6%;
    font-family: nunito;
    position: absolute;
    left: 5%;
    top: 90%;
}
.spar:hover{
    background-color: #0a8e83;
}

.dot1{
    position: absolute;
    border-radius: 50%;
    background-color: #0aa195;
    padding: 0.26rem;
    top: 85%;  
}
.dot2{
    position: absolute;
    border-radius: 50%;
    background-color: #0aa195;
    padding: 0.26rem;
    top: 95%;  
}
.texts{
    margin-left: 1rem;
    font-size: 1rem;
    font-family: nunito;
    margin-top: 0.5rem;
    
}




/* BRANDS  */

.brands{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
    margin: 9rem 0;
   
}
.brands>a{
    width: 100%;
    padding: 2rem 4.6rem;
    background-color: #f8f9fa;
    text-align: center;
  
}


/* SOLUTIONS  */

.sol-circle{
width: 75px;
height: 75px;
position: absolute;
background-color: #dff1f0;
border-radius: 50%;
left: 8%;
bottom: 45%;
z-index: -1;
}
.sol{
    position: relative;
    text-align: center;
    font-family: nunito;
     margin: 0 1rem ;
}
.sol>h1{
    font-size: 2.3rem;
   
}
.sol>p{
    font-size: 1.09rem;
    text-align: center; 
    color: #6c757d;  
}


/* EASY  */
.easy{
    /* margin: 2rem; */
   display: flex;
   align-items: center;
   flex-wrap: wrap;
   text-align: center;
}
.title>a>i{
    color: #daf1ef;
    font-size: 2rem;
    background: #0aa195;
    padding: 1.5rem;
    border-radius: 10%;
}
.title{
    padding: 1rem;
    margin: 2rem;
    line-height: 1.5;
}
.title>h1{
    font-size: 1.5rem;
    font-family: nunito;
    text-transform:none;
}
.title>p{
    text-align: center;
    font-family: nunito;
    font-size: 0.95rem;
    color: rgb(65, 61, 61);
    font-style: regular;
}

/* Landik  */

.lan-circle{
    width: 75px;
    height: 75px;
    position: absolute;
    background-color: #dff1f0;
    border-radius: 50%;
    left: 8%;
    bottom: 58%;
    z-index: -1;
    }
.lan{
    position: relative;
    text-align: center;
    font-family: nunito;
    padding: 2rem;
}
.lan>h1{
    font-size: 1.9rem;
}
.lan>p{
    font-size: 1.1rem;
    text-align: center; 
    color: #292f35;  
}

    /* Features  */
.feat{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem;
    width: 100%;
    margin: auto;
}
.feat-img{
    width: 100%;
   
}
.write-ups>p{
    font-family: nunito;
    font-size: 1rem;
    font-style: normal;
}
.feat-img>a>img{
    width: 100%;
    height: 100%;
}
.write-ups{
    width: 100%;
    padding: 1rem;
}
.write-ups>h1{
    font-family: Nunito;
    font-size: 2rem;
    font-weight: lighter;
}

.anchor{
    display: flex;
    align-items: center;
    gap: 1rem;
    margin: 1rem 0;
    font-family: nunito;
}
.anchor>a{
    padding: 0.4rem  0.6rem; 
    border-radius: 10%;
    background-color: #daf1ef;
}
.anchor>a>img{
    width:1.5rem;
}

/* Get Landik  */
  
.get-started{
    /* background-color: #000000; */
    position: relative;
    z-index: 1;
    height: 20rem;
    
   
}
.landik{
    position: relative;
    padding: 1rem;
    margin: auto;
}
.write{
    text-align: center;
    position: relative;
    color: white;
    padding: 1rem 2rem;
    font-family: nunito;
    margin: auto;
}
.get-landik{
    z-index: 1;
    position: relative;
}
.image-bk>a>img{
    z-index: -1;
    width: 85vw;
    height: 40vh;
    margin: auto;
    border-radius: 20px;
    /* width: fit-content; */
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
    background-color: #0a8e83;

}
.gif{
    width: 70px;
    height: 70px;
    border: 2px solid white;
    border-radius: 50%;
    position: absolute;
    left: 40%;
}
.gee{
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background-color: white;
    position: absolute;
    top: 95%;
    left: 41.5%;
}
.gee>i{
    left: 30%;
    top: 35%;
}
   
    /* Testimonials  */
.testimonial{
    /* width: 100%; */
    display: flex;
    flex-direction: column;
    align-items: center;
    /* margin: 1rem 0 2rem ; */
    /* gap: 1rem; */
    padding: 1rem;
    background-color: #f8f9fa;
        
}
/* .testimonial>div>a{
    width: 50%;
} */
.testimonial>div>a>img{
    width: 90%;
    height: 100%;
    /* padding: 2rem 0; */
}
.test1{
    order: 2;
}
.tests{
    order: 1;
    width: 100%;
    margin: 0 2rem;
    z-index: 1;
    position: relative;
    padding: 1rem;
        
}
.tests>h1{
    font-family: nunito;
    font-size: 2rem;
}
.ts{
    width: 70px;
    height: 70px;
    border-radius: 50%;
    background-color: #daf1ef;
    position: absolute;
    z-index: -1;
    top: 4%;
    left: 2%;
}
.tests>p{
    font-family: nunito;
    font-size: 1.1rem;
    color: #798395;
}
.tests>.sec-p>.sec-s{
    font-family: nunito;
    font-size: 1.1rem;
    color:#0aa195;
}
.sec-p{
    padding: 3rem 0;
}
.quote{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    position: relative;
    margin: auto 1rem;
    width: 90%;
}
.quote>a>i{
    padding: 1rem;
    background-color: #0aa195;
    font-size: 1.1rem;
    border-radius: 60%;
    color: white;
    position: absolute;
    top: 5%;
    left: -2%;
}
.span-quote{
    font-family: nunito;
    font-size: 1.5rem;
    line-height: 1.5;
    margin-left: 3.5rem;
    font-weight:400;
    text-transform: capitalize;
    margin-bottom: 2rem;
}
.robert{
    font-family: nunito;
    margin-left: 4.7rem;
    color: black ;
    font-weight: bold; 
    font-size: 1.4rem;
    padding-bottom: 0.5rem;
}
.california{
    margin-left: 4.7rem;
    color: #798395;
    font-family: nunito;
    font-size: 0.95rem;
}
    /* Monthly Price Subs */
.head-sub{
    text-align: center;
    font-family: nunito;
    position: relative;
    margin: 6rem 1rem 2rem 2rem;
    
}
.pan{
    width: 80px;
    height: 80px;
    border-radius: 50%;
    background-color: #daf1ef;
    position: absolute;
    left: 3%;
    top: 1%;
    z-index: -1;

}
.head-sub>h1{
    font-weight: bold;
    font-size: 2rem;
    padding: 1rem 1rem 0 1rem;
}
.head-sub>p{
    font-size: 1.1rem;
    color: #847c7d;
}
.head-plan>p{
    color: #798395;
    
}


    /* Monthly Planns  */
.head-plan{
    font-family: nunito;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    /* margin-left: 3rem; */
    padding: 1rem;
    width: 100%;
}
.starters{
    width: 90%;
    text-align: center;
    margin: 1rem 2rem 1rem 0;
    padding: 3rem 2rem ;
}
.starters>h3{
    color: #a3a3b3;
    font-weight: 200;
    margin-top: -1rem;
    margin-bottom: -.5rem;
}
.starters>h2{
    font-size: 3.5rem;
   font-weight: 600;
}
.starters>h2>.per-month{
    font-size: 1rem;
    color: #0aa195;
    font-weight: 400;
}
.starters>hr{
    width: 100%;
}
.starters>h5{
    margin: 2rem 0 ;
    font-size: 1rem;
    color: #a0a2a0;
    font-weight: 200;
    padding-bottom: 1rem;
}
.starters-color{
    width: 90%;
    text-align: center;
    background-color: #0aa195;
    margin: 1rem 2rem 1rem 0;
    padding: 3rem 2rem ;
    box-shadow: -5px -1px 78px  gray;
      
}
.starters-color>h3{
    color:#cee7d4;
    font-weight: 200;
    margin-top: -1rem;
    margin-bottom: -.5rem;
}
.starters-color>h2{
    font-size: 3.5rem;
    font-weight: 600;
    color: white;
}
.starters-color>h2>.per-month{
    font-size: 1rem;
    font-weight: 400;
    color: white;
}
.starters-color>hr{
    width: 100%;
    border-top: 0;
    border-bottom: whitesmoke solid 0.3px;
}
.starters-color>h5{
    font-size: 1rem;
    color: white;
    font-weight: 200;
    padding-bottom: 2rem;
    margin: 2rem;
}
.join{
    padding: 0.8rem 1.5rem;
    background-color: #e6f5f4;
    font-family: nunito;
    border-radius: 50px;
    color: #0aa195;
    margin: 2rem;
    transition: all 500ms ease-in-out; 
          
}
.starters-color>.join{
    background-color: white;
    color: #0aa195;
   
}
.starters>.join:hover{
    background-color:#0a8e83;
    color: white;
    transform: scale(1.3);
}
.starters-color>a:hover{
    background-color: white !important;
    color: #0a8e83;
    transform: scale(1.3);
}

    /* Questions  */
  
.questions{
    width: 100%;
    text-align: center;
    font-family: nunito;
    position: relative;
    padding: 2rem 0;
    z-index: 1;
    background-color: #f8f9fa;
        
}
.questions>p{
    padding-bottom: 1.5rem;
    margin: 0 2.5rem 3rem;
    font-size: 1.1rem;
    color: #6c757d;
}
.questions>h1{
    font-size: 2rem;
}

.que{
    width: 70px;
    height: 70px;
    border-radius: 50%;
    background-color: #daf1ef;
    position: absolute;
    left: 5%;
    top: 5%;
    z-index: -1;
}
.que1{
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: white;
    width: 90%;
    margin-left: 10%;
    margin: 1.5rem;
    margin-top: 10px;
    padding:0 auto;
}
.que1>a>i{
    color: #000000;
    margin-right: 1.1rem;
    font-size: .8rem;
}
.que1>h3{
    font-weight: 200;
    font-size: 100;
    text-align: left;
    margin: 1rem;
}

/* Help  */
.help{
    position: relative;
    z-index: 1;
}
.help>a>img{
    width: 100%;
    height: 85vh;
    object-fit: cover;
    filter: brightness(50%);
    z-index: 1;
   
}
.hlp{
    padding: 80px 30px;
    margin-left: 4.5rem;
    position: absolute;
    background-color: white;
    top: 4rem;
    border-radius: 5px;
    text-align: center;
    font-family: nunito;
    margin: 1rem;
    z-index: 1;
}
.hlp>h1{
   font-size: 2.5rem;
   margin-top: -1rem;

}
.hep{
    width: 70px;
    height: 70px;
    border-radius: 50%;
    position: absolute;
    background-color: #dff1f0   ;
    left: 18%;
    top: 16%;
    z-index: -1;
}
.hlp>p{
    font-size: 1.08rem;
    padding-bottom: 2rem;
    color: #71747a;
}
.hlp>a{
    width: fit-content;
   border-radius: 8px;
    padding: 1rem 8rem;
    background-color:#0a8e83;
    color: white;
    text-transform: capitalize;
    transition: all 500ms ease-in-out;
}
.hlp>a:hover{
    background-color: #0b8088a1;
    cursor: pointer;
}

/* FOOTER  */
footer{
    /* width: 100%; */
    background-color: #20262d;
    padding: 4rem;
    text-align: center;
   margin-top: -1rem;
   font-family: nunito;
   /* margin-left: 2rem; */
   /* margin-right: 2rem; */
   display: flex;
   flex-direction: column;
   
}
.foot{
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-bottom: 5rem;
    text-align: center;
    
}
.foot>div>a>img{
    width: 8rem;
    margin-top: 1rem; ;
    margin-bottom:2rem ;
    margin-left: -100%;
   
}
footer>hr{
    width: 95%;
    margin-top: -2rem;
    margin-left: -3.2rem;
    border: none;
    border-bottom: #292f35 solid 2px;
}
form{
    
    padding: 0.19rem 2.5rem;
    border: 1px solid #292f35;
    position: relative;
    border-radius: 10px;
    background-color: #292f35;
    margin-right: 20%;
    margin-left: -5%;
}
form>input{
    padding: 0.5rem 2.5rem;
    margin-left: -2.5rem;
   background-color: #292f35;
    border: none;
    font-family: nunito;
    border-radius: none;
 
}
button{
    padding: 0.6rem 2.2rem;
    font-size: 1rem;
    margin-right: -2.2rem;
    background-color: #0a8e83;
    color: white;
    font-family: nunito;
    border-radius: 5px;
    border: none;
}
.demo{
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-left: -25%;
}

.demo1{
    padding: 2rem 0;
    /* gap:1.5rem ; */
    align-items: center;
    font-family: nunito;
    color: white;
}
.demo1>a>i{
    display: none;
    font-size: 0.4rem;
    color: white;
}
.socials>a{
    color: white;
    padding: 0.3rem;
    
}
.socials>a>i{
    font-size: .8rem;
    padding: 0.5rem;
    background-color: #292f35;
    border-radius: 6rem;
    transition: all 500ms ease-in-out;
}
.socials>a>i:hover{
    color: #0a8e83;
    transform: scale(1.3);
    cursor: pointer;
}
.copy{
    padding:0.8rem 0.6rem;
    background-color: #292f35;
    text-align: center;
    margin-top: 2rem ;
    margin-left: -8.5%;
    width: 88%;
    margin-bottom: -2rem;
}
.copy>a{
    font-size: 1.1rem;
    color: white;
    
}
.copy>a>i{
    font-size: .8rem;
    padding: 0.5px;
}




