@media screen and (min-width: 360px) {
    .get>p, .trust1>p, .team1>p{
        padding: .1rem !important;
        
    }
    .get>h1{
        margin-top: -.8rem;
    }
    .gif{
        left: 36.99% !important;
    }
    .n-img{
       text-align: center;
       margin-bottom: 1.5rem;
    }
    .n-img>i{
        margin: 1rem;
        font-size: 1.2rem;
    }
    .n-img>i:hover{
        color: #0aa195;
    }
    .n-img>hr{
        width: 50%;
    }
    .n-img>h1{
        font-size: 1.5rem;
    }
    
    .trust1>.tr{
        left: 7% !important;
        top: 5% ;
    }
    .company1>.tr{
        left: 18% !important;
        top: 5% !important;
    }
    .image-bk>img{
        width: 100vw !important;
    }
    .get{
        text-align: center;
        margin-left: -1rem ;
        padding: 1rem;
    }
    .team1>.tr{
        left: 6% ;
        top: -10% ;
        
    }
   
}
