@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;500&family=Poppins:ital,wght@0,100;0,300;1,300&display=swap');


body{
    margin: 0;
    padding: 0;
    overflow-x: hidden !important;
    box-sizing: border-box;
    font-family: nunito;
    
}
p{
    color: #6c7789;
    font-size: 1.1rem;
}
a{
    text-decoration: none;
}

/* Navbars  */
.navhd{
    position: fixed;
    align-items: center;
    border-bottom: 0.5px solid rgb(242, 235, 235);
    background-color: white;
    width: 100vw;
    height: 8%;
    top: 0;
    left: 0;
    z-index: 3;
    /* border: 2px solid red; */

    
}
.nav{
    display: flex;
    justify-content: space-between;
    padding: 1.2rem;
    width: 90%;
    position: relative;
    text-align: center;
    /* border: 2px solid red; */
    
}
.imghd>img{
    width: 8rem;
    padding-left: 1rem;
}
.a-links{
    display: none;
}
.bars>a>i{
    color: rgb(43, 41, 41);
    font-size: 1.7rem;
    padding-right: 1rem;
}
/* Headers  */
.head2{
    position: relative;
}
.text-hd{
   
    position: absolute;
    top:22%;
    padding: 1rem;
}
.text-hd>p{
    margin-bottom:1.5rem;
}
.image-bk>img{
    margin-top: -2rem;
    height: 55vh;
    max-width:max-content;
}
.first-span{
    padding: .7rem 1.2rem;
    background-color: #0aa195;
    color: white;
    border-radius: 5px;
    
}
.text-hd{
   
    position: absolute;
    top:22%;
    padding: 1rem;
}
.first-span{
    padding: .7rem 1.2rem;
    background-color: #0aa195;
    color: white;
    border-radius: 5px;
    
}

/* Header-img  */
.header-img{
    /* padding: 1rem; */
    z-index: 2;
    
    
}
.main{
    display: block;
    /* gap: 5rem; */
    margin-top: 5rem;
    padding: 1rem;
    /* border: 2px solid yellow; */
}

.imghd2>img{
    width: 100%;
    /* height: 21vh; */
    border-radius: 2rem;
    margin-bottom: 2rem;
    margin-top: -4rem;
    object-fit: cover;
   
}
.texts>.texts-hd>a{
    display: block;
    align-items: center;
    padding: 5px;
    
    
}
.second-span{
    padding-left: 8px;
    color: #6c7789;
}
.texts>.texts-hd>a>i{
    padding: 2px;
    color: white;
    background-color: #0aa195;
    border-radius: 100%;
    font-size: 10px;
}
.texts>.texts-2nd>p{
    color: #6c7789;
}


/* Get started with landik  */
.get-started{
    margin-top: 7rem;
    margin-bottom: 7rem;
    padding: 1rem;
}
.landik{
    position: relative;
}
.lands{
    position: relative;
}
.lands>img{
    width: 100%;
    height: 27rem ;
    background-color: #0aa195;
    object-fit: cover;
    border-radius: 10px;
}
.get>h1{
    font-size: 2.5rem;
    text-transform: capitalize;

}
.get{
    position: absolute;
    top: 10%;
    left: 5%;
    text-align: center;
    color: white ;
}
.get>p{
    font-size: 1.2rem;
    padding: 0 1rem;
    color: white;
}
.gif{
    position: absolute;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    background-color: #0aa195;
    border: 3px solid white;
    top: 110%;
    left: 38%;
}
.gee{
    position: absolute;
    width: 63px;
    height: 63px;
    border-radius: 50%;
    background-color: white;
    top: 114.7%;
    left: 40.7%;
}
.gee>i{
    font-size: 1rem;
    color: #0aa195;
    top: 37%;
    right: 39%;
    position: absolute;
}

/* Trust  */
.trust{
    padding: 1rem;
    position: relative;
}
.trust1{
    text-align: center;
}
.trust1>h1{
    font-size: 1.6rem;
}
.trust1>p{
    padding: .8rem;
    color: #6c7789;
    font-size: 1.1rem;
}
.tr{
    position: absolute;
    bottom: 65%;
    left: 5%;
    background-color: #dff1f0;
    width: 75px;
    height: 75px;
    border-radius: 50%;
    z-index: -1;
}
.services{
    text-align: center;
    margin-top: 2rem;
}
.trust-serv{
    margin-top: 3rem;
    margin-bottom: 4rem;
}
.services>p{
    padding: .8rem;
}
.services>h1{
    font-size: 2.5rem;
}
.services>a>img{
    width: 6%;
    padding: .9rem;
    background-color: #dff1f0;
    border-radius: 5px;
    margin-bottom: -1rem;
}

/* Team Crew */

.team{
    position: relative;
}
.team1{
    text-align: center;
}
.team1>h1{
    font-size: 1.6rem;
}
.team1>p{
    padding: .6rem;
}
.team1>.tr{
   left: 9%; 
   top: -10%;
}

/* Founders  */
.founders{
    /* border:1px solid red; */
    margin-top: 3rem;
}
.found1{
    padding: 1rem;
}
.n-txt{
    text-align: center;
    margin-bottom: 2rem;
}
.n-img>img{
    width: 100%;
    margin: auto;
    border-radius: 25px;
}
.n-txt>h1{
    font-size: 1.4rem;
}
.n-txt>hr{
    width: 60%;
    border-bottom: 0.1px rgb(43, 41, 41); 
}
.n-txt>i{
  margin:1rem 1rem;
  font-size: 1.4rem;
}
.n-txt>i:hover{
    color: #0aa195;
}

/* Companies  */
.company{
    padding: 1rem;
    position: relative;
    /* margin-top: -.4rem; */
}
.company1{
    text-align: center;
}
.company1>h1{
    font-size: 1.6rem;
}
.company1>p{
    font-size: 1.09rem;
    /* padding: .8rem; */
}
.company1>.tr{
     left: 20%;
     bottom:55%;
}

/* Bk Images  */
.bk-img1{
    text-align: center;
    padding: .1rem;
    background-color: #0aa195;
    
    border-radius: 5px;
}

.bk-img1>a{
    display: block;
    margin: 4rem;
}
.bk-im{
    padding: 1rem;
    margin-bottom: 8rem;
}

/* Footer  */
footer{
    background: #20262d;
    padding: 1rem;
    position: relative;
}
.latest{
    color: white;
    background-color: #0aa195;
    padding:1rem .5rem;
    margin-top: -5rem;
    border-radius: 5px;
    position: relative;

}
.latest1{
    text-align: center;
   
}
.latest1>p{
    color: white;
    margin-bottom: 2.5rem;
}
form{
    text-align: center;
  
}
form>input{
    padding: 1rem 3rem;
    margin-bottom: 2.6rem;
    text-align: left;
    border: 1px solid white;
    background-color: #2fafa5;
    border-radius: 5px;
}
::placeholder{
    color: white;
    text-align: center;
}
button{
    padding: 1rem 4.8rem;
    background-color: white;
    border-radius: 5px;
    border: none;
    font-size: 1.03rem;
    font-family: nunito;
    color: #0aa195;
}
.customer>h1, .help-center>h1{
    text-align: left;
    color: white;
    font-size: 1.2rem;
    font-weight: 400;
}
.customer>hr, .help-center>hr{
    border: 1px solid #4d5157;
    width: 6%;
    margin-left: .1rem;
}
.customer>a>p, .help-center>a>p{
    font-size: .9rem;
    color: #6e767e;
}
.customer>a>p:hover{
    color: white;
    transition: all 500ms ease-in-out;

}
.help-center>a>p:hover{
    color: white;
    transition: all 500ms ease-in-out;
}
.help-center>h1{
    color: white;
}
.lndik>a>img{
    width: 7rem;
    margin-top: 3rem;
    margin-bottom: 1rem;
}
.landikk{
    margin-bottom: 4rem;
}
footer>hr{
    border: none;
    border-bottom: 1px solid #4d5157;
}
.down{
    text-align: center;
}
.copy{
    margin-bottom: 2rem;
}
.copy>p{
    color: #808c8f;
}
.brnds>a{
     padding-left: .2rem;
     padding-right: .2rem;
     
}
.brnds>a>i{
    padding: .5rem;
    color: white;
    background-color: #2b3138;
    border-radius: 50%;
    transition: all 500ms ease-in-out;
    margin-bottom: 1.5rem;
    font-size: 17px;
}
.brnds>a>i:hover{
    color: #0aa195;
    transform: scale(0.9);
}